apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-demo
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitops-demo
  template:
    metadata:
      labels:
        app: gitops-demo
      annotations:
        redeploy-at: "2026-01-21T11:43:00"
    spec:
      containers:
        - name: gitops-demo
          image: gitops-demo:2.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
